/* Reset Css */
* {
    /* Viết theo kiểu Emmet để có thể viết nhanh hơn */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

#main {
    background-color: #eeeeee42;
    height: 10000px;
}

:root {
    --header_height: 47px;
}


#header {
    background-color: #000;
    position: fixed;
    height: var(--header_height);
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    display: flex; 
    justify-content: space-between;
}

.header_navigaion {
    display: flex;
}


.header_navigation-bar {
    display: flex;
}

.navigation-bar-item {
    list-style: none;
    line-height: var(--header_height);   
}

.navigation-bar-item > a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 15px 24px;
    cursor: pointer;
    font-weight: 500;
}

.navigation-bar-item > a:hover,
.header_subnav-item:hover {
    background-color: #ccc;
    color: #000;
}

.header_navigation-bar .header_subnav {
    background-color: white;
    position: absolute;
    top: 100%;
    display: none;
}

.navigation-bar-item:hover > .header_subnav {
    display: block;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 
    0 4px 20px 0 rgba(0,0,0,0.19);
}

.header_subnav-item {
    list-style: none;
    line-height: 39px;
    min-width: 160px;
}

.header_subnav-item > a {
    padding: 11px 15px;
}

.header_subnav-item > a {
    text-decoration: none;
    color: #000;
}

.header_navigation-icon {
    font-size: 16px;
    padding-left: 4px;
}

.header_search {
    line-height: var(--header_height);
    color: #fff;
    font-size: 16px;
    padding: 0 24px;
}

.header_search:hover {
    color: #fff;
    background-color: #f44336;
    cursor: pointer;
}


/* Slider component */

#slider {
    margin-top: var(--header_height);
    padding-top: 50%;
    background-image: url(/assest/image/ny.jpg ) ;
    background-repeat:no-repeat ;
    background-size: contain;
    background-position: top center;
    position: relative;
}

.slider_content {
    position: absolute;
    color: #fff;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.slider_content-heading,
.slider_content-description {
    text-align: center;
}

.slider_content-heading {
    padding-bottom: 15px;
    font-size: 28px;
    font-weight: 500;
}


.slider_content-description {
    font-weight: 600;
    font-size: 16px;
}

/* Content */

#content {

}
.content_container {

}

.content_section {
    background-color:#fff;
    padding: 64px 16px;
}

.content_section-about,
.tour_section-about {
    max-width: 768px;
    margin: 0 auto;
    padding: 64px 16px;
}

.content_container-description-title {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 32px;
    margin: 10px 0;
    text-transform: uppercase;
    text-align: center;
    
}

.content_container-description-childTitle {
    margin: 15px 0;
    opacity: 0.7;
    text-align: center;
}

.content_container-description-content {
    margin: 15px 0;
}

.content_container-member {
    display: flex;
    justify-content: space-around;
    margin: 32px 0;
}

.content_container-member-item-name {
    margin: 15px 0;
}

.content_container-member-item-image {
    max-width: 154px;
    border-radius: 5px;
}

.content_section.tour_section {
    background-color: #000;
    color: #fff;
}
/* Tour dates section */

.tourTicketStatus {
    background-color: #fff;
    list-style-type: none;
    margin: 16px 0;
}

.ticketQuantity {
    border-bottom: 1px solid #ddd;
    display: flex;
    color: #757575;
    line-height: 1.6;
    padding: 8px 16px;
}

.ticketQuantity.ticketQuantity_soldOut > p {
    margin: 0 16px;
    padding: 0 8px;
    background-color: #f44336;
    color: #fff;
    opacity: 1;
}

.ticketQuantity.ticketQuantity_remaining {
    display: flex;
    justify-content: space-between;
}

.ticketQuantity.ticketQuantity_remaining > p {
    margin-right: 16px;
    padding: 0 8px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
}

.tourPlace_about {
    margin: 0 -16px;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
}

.tourPlace {
    width: 33.33%;
    margin: 8px;
    background-color: #fff;
    color: #000;
}

.tourPlace_img {
    width: 100%;
    min-width: 175px;
}

.tourPlace_img:hover {
    opacity: 0.8;
}
.tourPlace_content {
    padding: 2px 16px;
}

.tourPlace_name {
    font-weight: 600;
    margin: 15px 0;
}

.tourPlace_date {
    opacity: 0.6;
    margin: 15px 0;
}

.tourPlace_desc {
    margin: 15px 0;
}

.btn {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
}

.btn:hover {
    background-color: #ddd;
    color: #000;
    cursor: pointer;
    border: none;
}