
/* for PC */

@media (min-width: 1024px) {

}

/* for tablet */

@media (min-width:741px) and (max-width: 1023px) {
 .slider_content {
    top: 70%;
 }
}


/* for Mobile */
@media (max-width: 740px) {
    #header {
        display: block;
        overflow: hidden;
    }

    .header_navigation-bar {
        display: block;
    }

    .navigation-bar-item {
        background-color: #000;
        color: #fff;
    }

    .slider_content {
        top: 50%;
     }
     .slider_content-heading {
        font-size: 20px;
        padding-bottom: 5px;
     }
     .slider_content-description {
        font-size: 12px;
        font-weight: 400;
     }

    .header_search {
        background-color: #000;
        height: 47px;
        color: #fff;
        float: right;
        position: absolute;
        top: 0;
        right: 0;
    }
    .content_section-about,
    #tour_section-about,
    #contact_section-about {
        padding: 32px 16px;
    }


    .header_search > .header_search-PC {
        display: none;
    }

    .header_search .header_search-mobile {
        display: block;
    }

    .header_search:hover {
        background-color: #ccc;
        color: #000;
    }

    #header .header_subnav {
        background-color: #000;
    }

    #header .header_subnav .header_subnav-item a {
        color: #fff;
    }

   #header .header_subnav {
        position: initial;
    }
    .navigation-bar-item:hover > .header_subnav{
        display: block;
    }
    #header .header_subnav .header_subnav-item {
        padding: 5px 20px;
    }

    .navigation-bar-item > a {
        display: block;
        padding: 0 24px;
    }
    .tourPlace_about,
    .content_container-member {
        flex-direction: column;
        justify-items: center;
        text-align: center;
    }

    .tourPlace {
        width: 100%;
    }

    .tourPlace_about {
        margin: 0;
    }
    .contact_section-content {
        flex-direction: column;
    }
    .contact_section-infomation,
    .contact_section-content-inputForm {
        width: 100%;
    }
}